:root {
  --primari-text-color: #757575;
  --tittle-text-color: #212121;
  --acsent-color: #2196f3;
  --second-acsent-color: #ffffff;
  --primary-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
  --linc-fill-color: #afb1b8;

  --shift: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primari-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: var(--primary-bg-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text {
  margin: 0;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.link,
.logo,
.address {
  color: inherit;
  text-decoration: none;
  font-style: inherit;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

/* Логотип */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo {
  color: #000000;
}

.logo-part,
.logo:hover {
  color: var(--acsent-color);
}

/* Навігація */

.page-header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;

  display: flex;
  flex-basis: 100%;

  border-bottom: 1px solid #ececec;

  background-color: var(--primary-bg-color);
}

.header-container {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}

.nav-tabs {
  display: flex;
  margin-left: 93px;
}

.nav-tab {
  color: var(--tittle-text-color);
}

.nav-tab,
.nav-auth {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--primari-text-color);

  transition: color var(--shift), fill var(--shift);
}

.nav-tab:hover,
.nav-auth:hover,
.nav-tab:focus,
.nav-auth:focus,
.nav-tab.current {
  color: var(--acsent-color);
  fill: var(--acsent-color);
}

.nav-tab.current {
  position: relative;
}

.nav-tab.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--acsent-color);

  position: absolute;
  bottom: -1px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.nav-tabs-item:not(:first-child),
.auth-nav-item:not(:first-child) {
  margin-left: 50px;
}

.auth-icon-box {
  margin-right: 10px;
}

/* Герой */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bgi.jpg');
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-title {
  margin: 0;

  color: var(--second-acsent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.modal-button {
  display: flex;
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  
  justify-content: center;
  align-items: center;

  color: var(--second-acsent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--acsent-color);

  cursor: pointer;
    
  transition: background-color var(--shift)
}

.hero-button {
  margin-top: 30px;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
}

/* Секції */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Наші переваги */
.section-feature {
  padding-top: 94px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list-item {
  display: block;
  width: 270px;
}

.feature-list-item:not(:first-child) {
  margin-left: 30px;
}

.feature-icon-wrapper {
  position: relative;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--second-bg-color);
}

.feature-icon-wrapper::before {
  content: '';
  position: absolute;

  width: 0%;
  height: 100%;
  right: 0;
  background-color: rgba(33, 149, 243, 0.9);
    
  transition: width var(--shift);
}

.feature-icon-wrapper:hover::before {
  width: 100%;
  left: 0;
  
} 
.feature-icon-box {
  z-index: 1;
  width: 70px;
  height: 70px;
}

.feature-list-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Чим ми займаємось */

.what_we_do-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.what_we_do-item {
  position: relative;
}

.what_we_do-item:not(:first-child) {
  margin-left: 30px;
}

.what_we_do-item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-acsent-color);

  opacity: 1;
  transition: opacity var(--shift);
}

.what_we_do-item-title:hover {
  opacity: 0;
  
}

/* Наша коанда */
.team {
  background-color: var(--second-bg-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.team-card {
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
  perspective: 3000px;
}

.team-card:not(:first-child) {
  margin-left: 30px;
}

.team-flip {
  width: 270px;
  height: 260px;
  transform-style: preserve-3d;
}

.team-image {
  position: absolute;
  transform: rotateY(0deg);
}

.team-overlay {
  transform: rotateY(-180deg);
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 24px 64px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-acsent-color);
  background-color: rgba(33, 150, 243, 0.9);
}


.team-flip .team-image,
.team-flip .team-overlay {
  transition: transform var(--shift);
}

.team-card:hover .team-image {
  
}

/*.team-card:hover .team-overlay {
  transform: rotateY(0deg);

}
*/

.team-card-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-card-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 16px;
}

.team-card-position {
  margin: 0;

  font-size: 16px;
  line-height: 1.19;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-link-item {
  width: 44px;
  height: 44px;
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  fill: var(--linc-fill-color);

  transition: background-color var(--shift), fill var(--shift);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--acsent-color);
  fill: var(--second-acsent-color);
}

.icon-box-social {
  width: 20px;
  height: 20px;
}

/* Постійні клієнти */

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.client:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--linc-fill-color);
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  fill: var(--linc-fill-color);

  transition: border var(--shift), fill var(--shift);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--acsent-color);
  fill: var(--acsent-color);
}

.icon-client-box {
  width: 106px;
  height: 60px;
}

/* Підвал */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--second-acsent-color);

  background-color: var(--third-bg-color);
}

.footer-containers {
  display: flex;
  align-items: baseline;
}

.footer-address {
  width: 231px;
  margin-right: 70px;
}

.address {
  margin-top: 20px;
}

.address-item {
  margin-top: 9px;
}

.footer-auth {
  color: rgba(255, 255, 255, 0.6);
}

.footer-links {
  margin-right: 93px;
}

.title-linc,
.subscribe-title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--second-acsent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-link-footer {
  fill: var(--second-acsent-color);
  background: rgba(255, 255, 255, 0.1);
}

.subscribe-form {
  display: flex;
  width: 570px;
}

.subscribe-box {
  position: relative;
  display: block;
  width: 358px;
  height: 50px;
  margin-right: 12px;
}

.subscribe-name {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  display: block;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--second-acsent-color);
  background-color: var(--third-bg-color);
}


.subscribe-input:focus+.subscribe-name {
  transform: translate(calc(-100% - 32px), -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:not(:focus)+.subscribe-name {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:not(:placeholder-shown)+.subscribe-name {
  transform: translate(calc(-100% - 32px), -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}


.button-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;

  fill: var(--second-acsent-color);
}

/* Модальне вікно */
.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity var(--shift);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  z-index: 20;
  position: absolute;
  padding: 40px;

  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) scale(1);

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;

  transition: transform var(--shift), opacity var(--shift);
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
}

.icon-box-close {
  width: 11px;
  height: 11px;
}



.form {
  display: flex;
  flex-wrap: wrap;
}

.form--title {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;

  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--tittle-text-color);
}

.form--input-box {
  position: relative;
  width: 100%;
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form--input-box+.form--input-box {
  margin-top: 10px;
}

.form--input,
.form--message {
  display: block;
  height: 40px;
  width: 100%;

  padding-left: 42px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  fill: var(--tittle-text-color);

  border-radius: 4px;

  transform: fill var(--shift), border-color var(--shift);
}


.form--input:focus,
.form--message:focus {
  outline-color: var(--acsent-color);

  border-color: var(--acsent-color);
}



.form--input:focus+.form--icon,
.icon-box-close:hover {
  fill: var(--acsent-color);
}

.form--message {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.form--name {
  display: block;
  margin-bottom: 4px;
}

.form--message::placeholder {
  line-height: 1.14x;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form--icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  display: block;
  width: 18px;
  height: 18px;

  fill: var(--tittle-text-color);
}

.form--policy {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.form--policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-icon {
  margin-right: 7px;

  border: 2px solid;
  border-radius: 2px;
  border-color: #000000;
  width: 16px;
  height: 15px;
  fill: #fff;

  transition: fill var(--shift), border var(--shift);
}

.form--policy-checkbox:checked+.check-icon {
  border: 0px;
  fill: var(--acsent-color);
}

.form--policy-checkbox:focus+.check-icon {
  border-color: var(--acsent-color);
}

.form--policy-checkbox:checked:focus+.check-icon {
  outline: 1px solid;
  outline-color: var(--tittle-text-color);
}

.form--policy-link {
  text-decoration-line: underline;
  color: var(--acsent-color);
}

.submit-button {
  margin-top: 30px;
}

/* ===============  Портфоліо ============= */

/* Фільтр */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filter-item:not(:first-child) {
  margin-left: 8px;
}

.filter-button {
  display: block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  color: var(--tittle-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  background-color: var(--second-bg-color);

  transition: box-shadow var(--shift), color var(--shift), background-color var(--shift);
}

.filter-button:hover,
.filter-button:focus,
.filter-button.current {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--second-acsent-color);

  background-color: var(--acsent-color);
}

/* Наші проекти */
.filter-container {
  padding-bottom: 16px;
}

.project-container {
  margin-top: 34px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;

  background-color: var(--primary-bg-color);

  transition: box-shadow var(--shift);
}

.project-card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-image {
  position: relative;
  overflow: hidden;
}

.project-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 101%;
  transform: translateY(100%);

  transition: transform var(--shift);

  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  

  font-size: 18px;
  line-height: 1.56;
  color: var(--second-acsent-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-item:hover .project-image-overlay,
.project-item:focus .project-image-overlay {
  transform: translateY(0%);
}

.project-card-type {
  margin: 0;

  font-size: 16px;
  line-height: 1.88;
}
